In [96]:
# Dicionário mais uso de lambda
usuarios = [
{"first_name": "Helen", "age": 39},
{"first_name": "Buck", "age": 40},
{"first_name": "Leo","age":50}
]
usuarios_ordenados_pelos_nome = sorted(usuarios,key = lambda u: u["first_name"].lower())
usuarios_ordenados_pelos_nome

[{'age': 40, 'first_name': 'Buck'},
 {'age': 39, 'first_name': 'Helen'},
 {'age': 50, 'first_name': 'Leo'}]

In [97]:
filmes = [
          {"nome": "O segredo dos seus olhos", "genero": "drama", "nota": 10},
          {"nome":"os jogos mortais", "genero": "terror", "nota": 8},
          {"nome": "Magnólia", "genero": "historico", "nota": 9},
          {"nome":"soul","genero": "animação", "nota": 10}
]

filmes = sorted(filmes, key = lambda f: f['nome'].lower())
filmes

[{'genero': 'historico', 'nome': 'Magnólia', 'nota': 9},
 {'genero': 'drama', 'nome': 'O segredo dos seus olhos', 'nota': 10},
 {'genero': 'terror', 'nome': 'os jogos mortais', 'nota': 8},
 {'genero': 'animação', 'nome': 'soul', 'nota': 10}]

In [98]:
# Função lambda
def retorna_nome_minusculo(usuarios):
  return usuarios['first_name'].lower()

usuarios_ordenados_pelo_nome = sorted(usuarios,key=retorna_nome_minusculo)

In [99]:
# Método join une as strings, neste exemplo une por meio de espaço
primeiro_nome ="Paola"
ultimo_nome = "Maria"
teste = "Alencar"

nome_completo = " ".join([primeiro_nome,ultimo_nome,teste])

nome_completo

'Paola Maria Alencar'

In [100]:
# Método join une as strings, neste exemplo une por meio de *
sujeito = "Eu"
verbo ="gosto"
objeto = "de você"

frase = "*".join([sujeito,verbo,objeto])
frase

'Eu*gosto*de você'

In [101]:
# Utilização de List Comprension
lista_antiga =[1,2,3,4,5]

nova_lista = [item*3 for item in lista_antiga]
nova_lista

[3, 6, 9, 12, 15]

In [102]:
# Utilização de Função 
lista_antiga = [1,2,3,4,5]

def multiplica_lista_por_2(lista):
  nova_lista =[]
  for i in lista:
    nova_lista.append(i*2)

  return nova_lista

lista_nova = multiplica_lista_por_2(lista_antiga)

lista_nova

[2, 4, 6, 8, 10]

In [103]:
# Equação

lista = [1,2,3,4]

nova_lista = [item*2 + 2  for item in lista]
nova_lista

[4, 6, 8, 10]

In [104]:
# Função de uma equação
lista1 = [1,2,3,4]

def equacao(lista):
  nova_lista = []
  for valor in lista:
    nova_lista.append(valor*2+2)

  return nova_lista
lista_nova = equacao(lista1)
lista_nova

[4, 6, 8, 10]

In [105]:
# Utilização de List Comprenshion 
idades = [1,60,20,24,56,34,101]

nova_lista = [ idade for idade in idades if idade >10 and idade<100]
nova_lista

[60, 20, 24, 56, 34]

In [106]:
nota = [1,10,5,7,6,3,4,9,20]

nova_lista = [nota for nota in nota if nota >5 and nota<=10]
nova_lista

[10, 7, 6, 9]

In [107]:
nota = [1,10,5,7,6,3,4,9,20]

def quantidade_notas(notas):
  nova_lista =[]
  for i in notas:
    nova_lista.append(i)
    if i > 5 and i <=10:
      print(i)

lista = quantidade_notas(nota)
lista

10
7
6
9

In [108]:
#Enumerate pegando indices 
pontos = [20,25,66,71,27,14]

for indice, ponto in enumerate(pontos):
    print(indice, ponto)

0 20
1 25
2 66
3 71
4 27
5 14

In [109]:
#Enumerate pegando indices
lista_nomes = ['Maria','Lucas','Anita']

for indice,nomes in enumerate(lista_nomes):
  print(indice,nomes)

0 Maria
1 Lucas
2 Anita

In [110]:
pessoas = ["Fabio", "Alexandre","Ana"]
idades = [29,30,27]

maior_idade = 0

#Método zip que retorna uma lista de tuplas, percorre duas ou mais sequencias
for pessoa, idade in zip(pessoas, idades):
  if idade>maior_idade:
    pessoa_mais_velha = pessoa
    maior_idade = idade
  
print(f"Pessoa mais velha:{pessoa_mais_velha}")

Pessoa mais velha:Alexandre

In [111]:
nome1 = ['Maria','Ana','Lucas','Ricardo']
nome2 = ['José','Paula','Jonas','Antenor']

for x in zip(nome1,nome2):
  print(x)

('Maria', 'José')
('Ana', 'Paula')
('Lucas', 'Jonas')
('Ricardo', 'Antenor')