In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
df = pd.read_csv('net.csv')

In [4]:
# // What are the column names and their types?
df.info()

# Date - string, Open - float64, Hight -  float 64, Low - float 64, Close  - float64, 
#Volume - int 64, Adj Close - float 64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Volume     1259 non-null   int64
 6   Adj Close  1259 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [25]:
texto= "-" 
 
df['Date'] = df['Date'].str.replace(texto, '')

In [30]:
 #df['ano'] = df['Date'].str[0:4]
 df['mes'] =df['Date'].str[4:6]
 df['dia'] = df['Date'].str[6:8]

In [5]:
# // Create a new dataframe with a column called HV Ratio that
# // is the ratio of the High Price versus volume of stock traded
# // for a day.

df_new = pd.DataFrame(df['High']* df['Volume'], columns=['HV Ratio '])

In [52]:
# What day had the Peak High in Price?

df[df['High'] == df['High'].max()]['dia']

933    13
Name: dia, dtype: object

In [6]:
# What is the mean of the Close column?

df['Close'].mean()

230.522453845909

In [7]:
# What is the max and min of the Volume column?

df['Volume'].max()
df['Volume'].min()

3531300

In [8]:
# How many days was the Close lower than $ 600?
df[df['Close'] < 600]['Date'].count()

1218

In [9]:
# What percentage of the time was the High greater than $500 ?
df[df['High'] > 500]['Date'].count()
porcentagem = (df[df['High'] > 500]['Date'].count() / df['Date'].count()) * 100
porcentagem

4.924543288324067

In [11]:
#  What is the Pearson correlation between High and Volume?

df['High'].corr(df['Volume'])

-0.20960233287942157

In [41]:
# What is the max High per year?

# Para 2011

df[df['ano'] == '2011']['High'].max()
# Para 2012
df[df['ano'] == '2012']['High'].max()
# Para 2013
df[df['ano'] == '2013']['High'].max()
# Para 2014
df[df['ano'] == '2014']['High'].max()
# Para 2015
df[df['ano'] == '2015']['High'].max()
# Para 2016
df[df['ano'] == '2016']['High'].max()

129.28999299999998

In [45]:
# What is the average Close for each Calender Month?

# Para o mes 01

df[df['mes'] == '01']['Close'].mean()

# Para o mes 02

df[df['mes'] == '02']['Close'].mean()

# Para o mes 03

df[df['mes'] == '03']['Close'].mean()

# Para o mes 04

df[df['mes'] == '04']['Close'].mean()

# Para o mes 05

df[df['mes'] == '05']['Close'].mean()

# Para o mes 06

df[df['mes'] == '06']['Close'].mean()

# Para o mes 07

df[df['mes'] == '07']['Close'].mean()

# Para o mes 08

df[df['mes'] == '08']['Close'].mean()

# Para o mes 09

df[df['mes'] == '09']['Close'].mean()

# Para o mes 10

df[df['mes'] == '10']['Close'].mean()

# Para o mes 11

df[df['mes'] == '11']['Close'].mean()

# Para o mes 12

df[df['mes'] == '12']['Close'].mean()

199.3700942358491